_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
nature/astrosymbols/squarerootscaleplanets_large.png
language/wordshapes/dolph/README.md
language/wordshapes/dolph/popular.txt
language/wordshapes/dolph/ospd.txt
language/wordshapes/dolph/filter.py
language/wordshapes/dolph/enable1.txt
language/biclique/2of12.txt
language/biclique/safedict_simple.txt
language/biclique/enwiki-2023-04-13.txt
language/biclique/medical wordlist.txt
